<div class="animated zoomIn bg-white py-6 sm:py-8 mt-19 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <h1
      class=" mb-12 text-3xl text-center mt-10 leading-8 font-extrabold tracking-tight text-gray-900 md:text-5xl dark:text-white">
      < me>
    </h1>
    <p class="animated zoomIn mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
      I am a passionate software engineer with a B.Tech degree and 3 years of experience in the software
      development industry. My expertise lies in full-stack development, particularly with technologies such as Angular,
      React Native, Node.js, and ASP.NET Core. I am driven by the fusion of technology and creativity to create
      innovative digital experiences. Throughout my journey, I have focused on collaborative project management, aiming
      to deliver high-quality and engaging software solutions. I am eager to leverage my skills and continue learning in
      a dynamic and challenging environment.
    </p>
  </div>
</div>
